nodered/.flows.json.backup
[
    {
        "id": "3c4dbd0503c1f8cb",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dashboardGroup",
        "type": "ui_group",
        "name": "1 centavo",
        "tab": "2e1880cd623c5423",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "mqttBroker",
        "type": "mqtt-broker",
        "name": "Ubidots",
        "broker": "industrial.api.ubidots.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2e1880cd623c5423",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "66f36466510eb256",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "987929edbb62c99d",
        "type": "ui_group",
        "name": "Default",
        "tab": "2e1880cd623c5423",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e236e69af325c94c",
        "type": "mqtt-broker",
        "name": "ubidots.stem",
        "broker": "BBUS-Xw1epqDau8M72fbsPaoqDigwENAuXg",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4ef785eb28030b4b",
        "type": "mqtt-broker",
        "name": "aaaaa",
        "broker": "industrial.api.ubidots.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f4b0c18eecf834c4",
        "type": "ui_group",
        "name": "5 centavos",
        "tab": "2e1880cd623c5423",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5e20e6e7ebf6c723",
        "type": "ui_group",
        "name": "10 centavos",
        "tab": "2e1880cd623c5423",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "02d5e82944b51331",
        "type": "ui_group",
        "name": "25 centavos",
        "tab": "2e1880cd623c5423",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a0d4516a29db9ab",
        "type": "ui_group",
        "name": "50 centavos",
        "tab": "2e1880cd623c5423",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5be07658d2781f19",
        "type": "ui_group",
        "name": "1 real",
        "tab": "2e1880cd623c5423",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "755166bcbc9883dd",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "81320018015f4d99",
        "type": "ui_tab",
        "name": "Tab 3",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "350878bf39ca3bf4",
        "type": "ui_spacer",
        "z": "3c4dbd0503c1f8cb",
        "name": "spacer",
        "group": "987929edbb62c99d",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "05ed7542061aa65b",
        "type": "ui_spacer",
        "z": "3c4dbd0503c1f8cb",
        "name": "spacer",
        "group": "987929edbb62c99d",
        "order": 4,
        "width": 5,
        "height": 1
    },
    {
        "id": "8e22d04f4c14164a",
        "type": "ui_spacer",
        "z": "3c4dbd0503c1f8cb",
        "name": "spacer",
        "group": "987929edbb62c99d",
        "order": 5,
        "width": 5,
        "height": 1
    },
    {
        "id": "3d625da9c7be249e",
        "type": "ui_spacer",
        "z": "3c4dbd0503c1f8cb",
        "name": "spacer",
        "group": "987929edbb62c99d",
        "order": 6,
        "width": 5,
        "height": 1
    },
    {
        "id": "c732d793515841d5",
        "type": "ui_spacer",
        "z": "3c4dbd0503c1f8cb",
        "name": "spacer",
        "group": "987929edbb62c99d",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "dd40c2642535151e",
        "type": "ui_spacer",
        "z": "3c4dbd0503c1f8cb",
        "name": "spacer",
        "group": "987929edbb62c99d",
        "order": 8,
        "width": 5,
        "height": 1
    },
    {
        "id": "180b4b6e837f5b30",
        "type": "ui_spacer",
        "z": "3c4dbd0503c1f8cb",
        "name": "spacer",
        "group": "987929edbb62c99d",
        "order": 9,
        "width": 5,
        "height": 1
    },
    {
        "id": "36281cf71d83978c",
        "type": "ui_spacer",
        "z": "3c4dbd0503c1f8cb",
        "name": "spacer",
        "group": "987929edbb62c99d",
        "order": 10,
        "width": 5,
        "height": 1
    },
    {
        "id": "68c3331f07117ae3",
        "type": "ui_spacer",
        "z": "3c4dbd0503c1f8cb",
        "name": "spacer",
        "group": "987929edbb62c99d",
        "order": 11,
        "width": 5,
        "height": 1
    },
    {
        "id": "sensor5c",
        "type": "rpi-gpio in",
        "z": "3c4dbd0503c1f8cb",
        "name": "Sensor 5 centavos",
        "pin": "14",
        "intype": "pullup",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "61033f643e011982"
            ]
        ]
    },
    {
        "id": "func5c",
        "type": "function",
        "z": "3c4dbd0503c1f8cb",
        "name": "Adiciona dinheiro",
        "func": "function truncateToTwoDecimals(num) {\n    return Math.trunc(num * 100) / 100;\n}\n\nlet total = global.get(\"valor\") || 0;\n\nif(msg.valor){\n    let contagem = global.get(`${msg.valor}`) || 0;\n\n    total += msg.valor;\n    contagem += 1;\n\n    global.set(\"valor\", total);\n    global.set(`${msg.valor}`,contagem);\n}\nmsg.payload = {\n    \"valor\":total.toFixed(2),\n    \"0.01\":global.get('0.01')||0,\n    \"0.05\":global.get('0.05')||0,\n    \"0.10\":global.get('0.1')||0,\n    \"0.25\":global.get('0.25')||0,\n    \"0.50\":global.get('0.5')||0,\n    \"1.00\":global.get('1')||0,\n    \"0.01_porcentagem\": truncateToTwoDecimals((100 * global.get('0.01') || 0) / global.get(\"maximo\")),\n    \"0.05_porcentagem\": truncateToTwoDecimals((100 * global.get('0.05') || 0) / global.get(\"maximo\")),\n    \"0.10_porcentagem\": truncateToTwoDecimals((100 * global.get('0.1') || 0) / global.get(\"maximo\")),\n    \"0.25_porcentagem\": truncateToTwoDecimals((100 * global.get('0.25') || 0) / global.get(\"maximo\")),\n    \"0.50_porcentagem\": truncateToTwoDecimals((100 * global.get('0.5') || 0) / global.get(\"maximo\")),\n    \"1.00_porcentagem\": truncateToTwoDecimals((100 * global.get('1') || 0) / global.get(\"maximo\")),\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 660,
        "wires": [
            [
                "20bce027e654397c",
                "d19d9a8226bf3229",
                "5a102cf02c2b6b71"
            ]
        ]
    },
    {
        "id": "uiText",
        "type": "ui_text",
        "z": "3c4dbd0503c1f8cb",
        "group": "987929edbb62c99d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Valor Total",
        "label": "valor armazenado:",
        "format": "{{msg.payload.valor}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1420,
        "y": 500,
        "wires": []
    },
    {
        "id": "20bce027e654397c",
        "type": "ubidots_out",
        "z": "3c4dbd0503c1f8cb",
        "name": "",
        "token": "BBUS-j9cBk1boMBRCRpqWx0mbE6jMdSkdg0",
        "label_device": "",
        "device_label": "carteira",
        "tier": "business",
        "tls_checkbox": false,
        "x": 1050,
        "y": 700,
        "wires": []
    },
    {
        "id": "d19d9a8226bf3229",
        "type": "debug",
        "z": "3c4dbd0503c1f8cb",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 620,
        "wires": []
    },
    {
        "id": "23a0564fb46a441b",
        "type": "inject",
        "z": "3c4dbd0503c1f8cb",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 480,
        "wires": [
            [
                "61033f643e011982"
            ]
        ]
    },
    {
        "id": "ce3d5eca680a59bd",
        "type": "rpi-gpio in",
        "z": "3c4dbd0503c1f8cb",
        "name": "Sensor 10 centavos",
        "pin": "14",
        "intype": "pullup",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 230,
        "y": 540,
        "wires": [
            [
                "020254092ecb3ac7"
            ]
        ]
    },
    {
        "id": "d0c075b497630922",
        "type": "inject",
        "z": "3c4dbd0503c1f8cb",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 620,
        "wires": [
            [
                "020254092ecb3ac7"
            ]
        ]
    },
    {
        "id": "61033f643e011982",
        "type": "change",
        "z": "3c4dbd0503c1f8cb",
        "name": "0.05",
        "rules": [
            {
                "t": "set",
                "p": "valor",
                "pt": "msg",
                "to": "0.05",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "5cd1f4f3848c3fad"
            ]
        ]
    },
    {
        "id": "020254092ecb3ac7",
        "type": "change",
        "z": "3c4dbd0503c1f8cb",
        "name": "0.10",
        "rules": [
            {
                "t": "set",
                "p": "valor",
                "pt": "msg",
                "to": "0.10",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 580,
        "wires": [
            [
                "5cd1f4f3848c3fad"
            ]
        ]
    },
    {
        "id": "4d7657abed327172",
        "type": "rpi-gpio in",
        "z": "3c4dbd0503c1f8cb",
        "name": "Sensor 25 centavos",
        "pin": "14",
        "intype": "pullup",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 230,
        "y": 680,
        "wires": [
            [
                "e074c76e2cf3115f"
            ]
        ]
    },
    {
        "id": "a75219c9f440674d",
        "type": "inject",
        "z": "3c4dbd0503c1f8cb",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 760,
        "wires": [
            [
                "e074c76e2cf3115f"
            ]
        ]
    },
    {
        "id": "e074c76e2cf3115f",
        "type": "change",
        "z": "3c4dbd0503c1f8cb",
        "name": "0.25",
        "rules": [
            {
                "t": "set",
                "p": "valor",
                "pt": "msg",
                "to": "0.25",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 720,
        "wires": [
            [
                "5cd1f4f3848c3fad"
            ]
        ]
    },
    {
        "id": "f09c392234532c91",
        "type": "rpi-gpio in",
        "z": "3c4dbd0503c1f8cb",
        "name": "Sensor 50 centavos",
        "pin": "14",
        "intype": "pullup",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 230,
        "y": 820,
        "wires": [
            [
                "aca286db1098e44c"
            ]
        ]
    },
    {
        "id": "3a68a0673f2dc156",
        "type": "inject",
        "z": "3c4dbd0503c1f8cb",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 900,
        "wires": [
            [
                "aca286db1098e44c"
            ]
        ]
    },
    {
        "id": "aca286db1098e44c",
        "type": "change",
        "z": "3c4dbd0503c1f8cb",
        "name": "0.50",
        "rules": [
            {
                "t": "set",
                "p": "valor",
                "pt": "msg",
                "to": "0.50",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 860,
        "wires": [
            [
                "5cd1f4f3848c3fad"
            ]
        ]
    },
    {
        "id": "c29deb193c32048e",
        "type": "rpi-gpio in",
        "z": "3c4dbd0503c1f8cb",
        "name": "Sensor 1 centavos",
        "pin": "14",
        "intype": "pullup",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "d253941adbd4632b"
            ]
        ]
    },
    {
        "id": "47380482c0f638d9",
        "type": "inject",
        "z": "3c4dbd0503c1f8cb",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "d253941adbd4632b"
            ]
        ]
    },
    {
        "id": "d253941adbd4632b",
        "type": "change",
        "z": "3c4dbd0503c1f8cb",
        "name": "0.01",
        "rules": [
            {
                "t": "set",
                "p": "valor",
                "pt": "msg",
                "to": "0.01",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 300,
        "wires": [
            [
                "5cd1f4f3848c3fad"
            ]
        ]
    },
    {
        "id": "d89f46b9ed7e9008",
        "type": "rpi-gpio in",
        "z": "3c4dbd0503c1f8cb",
        "name": "Sensor 1 real",
        "pin": "14",
        "intype": "pullup",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 250,
        "y": 960,
        "wires": [
            [
                "23d892780c06fbf8"
            ]
        ]
    },
    {
        "id": "4e30d14b893e9cc1",
        "type": "inject",
        "z": "3c4dbd0503c1f8cb",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 1040,
        "wires": [
            [
                "23d892780c06fbf8"
            ]
        ]
    },
    {
        "id": "23d892780c06fbf8",
        "type": "change",
        "z": "3c4dbd0503c1f8cb",
        "name": "1.00",
        "rules": [
            {
                "t": "set",
                "p": "valor",
                "pt": "msg",
                "to": "1.00",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1000,
        "wires": [
            [
                "5cd1f4f3848c3fad"
            ]
        ]
    },
    {
        "id": "c8c787a0f28615f8",
        "type": "inject",
        "z": "3c4dbd0503c1f8cb",
        "name": "resetar",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 650,
        "y": 500,
        "wires": [
            [
                "944d05cb9ff77232"
            ]
        ]
    },
    {
        "id": "944d05cb9ff77232",
        "type": "function",
        "z": "3c4dbd0503c1f8cb",
        "name": "reseta",
        "func": "global.set(\"valor\", 0);\n\nglobal.set(\"0.01\", 0);\nglobal.set(\"0.05\", 0);\nglobal.set(\"0.1\", 0);\nglobal.set(\"0.25\", 0);\nglobal.set(\"0.5\", 0);\nglobal.set(\"1\", 0);\n\nmsg.message = \"valores resetados com sucesso\"\nmsg.payload = {\n    \"valor\":global.get('valor')||0,\n    \"0.01\":global.get('0.01')||0,\n    \"0.05\":global.get('0.05')||0,\n    \"0.10\":global.get('0.1')||0,\n    \"0.25\":global.get('0.25')||0,\n    \"0.50\":global.get('0.5')||0,\n    \"1.00\":global.get('1')||0,\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 520,
        "wires": [
            [
                "938415d82783ce5b",
                "2fd0d02cc417b79c"
            ]
        ]
    },
    {
        "id": "938415d82783ce5b",
        "type": "debug",
        "z": "3c4dbd0503c1f8cb",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "message",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 500,
        "wires": []
    },
    {
        "id": "963ef7c387d63a92",
        "type": "ubidots_in",
        "z": "3c4dbd0503c1f8cb",
        "tier": "business",
        "name": "Ubidots in",
        "token": "BBUS-j9cBk1boMBRCRpqWx0mbE6jMdSkdg0",
        "device_label": "carteira",
        "tls_checkbox_in": false,
        "custom_topic_checkbox": false,
        "label_variable_1": "maximo",
        "label_variable_2": "",
        "label_variable_3": "",
        "label_variable_4": "",
        "label_variable_5": "",
        "label_variable_6": "",
        "label_variable_7": "",
        "label_variable_8": "",
        "label_variable_9": "",
        "label_variable_10": "",
        "checkbox_variable_1_last_value": true,
        "checkbox_variable_2_last_value": true,
        "checkbox_variable_3_last_value": true,
        "checkbox_variable_4_last_value": true,
        "checkbox_variable_5_last_value": true,
        "checkbox_variable_6_last_value": true,
        "checkbox_variable_7_last_value": true,
        "checkbox_variable_8_last_value": true,
        "checkbox_variable_9_last_value": true,
        "checkbox_variable_10_last_value": true,
        "x": 660,
        "y": 880,
        "wires": [
            [
                "41d76185799365a4"
            ]
        ]
    },
    {
        "id": "fb68d0ad596f9462",
        "type": "function",
        "z": "3c4dbd0503c1f8cb",
        "name": "seta o maximo globalmente",
        "func": "global.set(\"maximo\",msg.payload);\nmsg.payload=`o valor de maximo é ${msg.payload}`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 900,
        "wires": [
            [
                "0c4050c1836fdd06"
            ]
        ]
    },
    {
        "id": "77d0792639dfe76f",
        "type": "debug",
        "z": "3c4dbd0503c1f8cb",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 860,
        "wires": []
    },
    {
        "id": "b450dd81eadce18d",
        "type": "ui_button",
        "z": "3c4dbd0503c1f8cb",
        "name": "",
        "group": "987929edbb62c99d",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Resetar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 640,
        "y": 540,
        "wires": [
            [
                "944d05cb9ff77232"
            ]
        ]
    },
    {
        "id": "ac74605206eb896e",
        "type": "ui_numeric",
        "z": "3c4dbd0503c1f8cb",
        "name": "",
        "label": "valor maximo:",
        "tooltip": "",
        "group": "987929edbb62c99d",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "99",
        "step": 1,
        "className": "",
        "x": 780,
        "y": 940,
        "wires": [
            [
                "b2ac403bc784c96a"
            ]
        ]
    },
    {
        "id": "6d2b2021cfcf109c",
        "type": "ui_text",
        "z": "3c4dbd0503c1f8cb",
        "group": "dashboardGroup",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "quantidade de moedas de 1 centavo",
        "label": "quantidade de moedas de 1 centavo:",
        "format": "{{msg.payload[\"0.01\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1500,
        "y": 540,
        "wires": []
    },
    {
        "id": "aa0c276235e3acb0",
        "type": "ui_text",
        "z": "3c4dbd0503c1f8cb",
        "group": "f4b0c18eecf834c4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "quantidade de moedas de 5 centavos",
        "label": "quantidade de moedas de 5 centavos:",
        "format": "{{msg.payload[\"0.05\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1500,
        "y": 580,
        "wires": []
    },
    {
        "id": "cf2a352ff7903201",
        "type": "ui_text",
        "z": "3c4dbd0503c1f8cb",
        "group": "5e20e6e7ebf6c723",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "quantidade de moedas de 10 centavos",
        "label": "quantidade de moedas de 10 centavos:",
        "format": "{{msg.payload[\"0.10\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1500,
        "y": 620,
        "wires": []
    },
    {
        "id": "4277520e5a3b6de8",
        "type": "ui_text",
        "z": "3c4dbd0503c1f8cb",
        "group": "02d5e82944b51331",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "quantidade de moedas de 25 centavos",
        "label": "quantidade de moedas de 25 centavos:",
        "format": "{{msg.payload[\"0.25\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1500,
        "y": 660,
        "wires": []
    },
    {
        "id": "24bdd403d41590de",
        "type": "ui_text",
        "z": "3c4dbd0503c1f8cb",
        "group": "8a0d4516a29db9ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "quantidade de moedas de 50 centavos",
        "label": "quantidade de moedas de 50 centavos:",
        "format": "{{msg.payload[\"0.50\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1500,
        "y": 700,
        "wires": []
    },
    {
        "id": "48fe0e54b8b42059",
        "type": "ui_text",
        "z": "3c4dbd0503c1f8cb",
        "group": "5be07658d2781f19",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "quantidade de moedas 1 real",
        "label": "quantidade de moedas de 1 real:",
        "format": "{{msg.payload[\"1.00\"]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1470,
        "y": 740,
        "wires": []
    },
    {
        "id": "831de17dd2d960bc",
        "type": "link in",
        "z": "3c4dbd0503c1f8cb",
        "name": "link in 1",
        "links": [
            "5a102cf02c2b6b71"
        ],
        "x": 1215,
        "y": 500,
        "wires": [
            [
                "uiText",
                "6d2b2021cfcf109c",
                "aa0c276235e3acb0",
                "cf2a352ff7903201",
                "4277520e5a3b6de8",
                "24bdd403d41590de",
                "48fe0e54b8b42059",
                "3ee093d3c33bfc65",
                "c3d8d8ecc2954925",
                "6fbed74038a43a72",
                "b060946c767d0d27",
                "7869cc6c8c5e22ba",
                "dff490da68a51efb"
            ]
        ]
    },
    {
        "id": "5a102cf02c2b6b71",
        "type": "link out",
        "z": "3c4dbd0503c1f8cb",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "831de17dd2d960bc"
        ],
        "x": 995,
        "y": 660,
        "wires": []
    },
    {
        "id": "0c4050c1836fdd06",
        "type": "link out",
        "z": "3c4dbd0503c1f8cb",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "54304dda185a8295"
        ],
        "x": 1365,
        "y": 900,
        "wires": []
    },
    {
        "id": "54304dda185a8295",
        "type": "link in",
        "z": "3c4dbd0503c1f8cb",
        "name": "link in 2",
        "links": [
            "0c4050c1836fdd06"
        ],
        "x": 675,
        "y": 700,
        "wires": [
            [
                "func5c"
            ]
        ]
    },
    {
        "id": "fe8f2a749a8c1e45",
        "type": "link in",
        "z": "3c4dbd0503c1f8cb",
        "name": "link in 3",
        "links": [
            "2fd0d02cc417b79c"
        ],
        "x": 675,
        "y": 620,
        "wires": [
            [
                "func5c"
            ]
        ]
    },
    {
        "id": "2fd0d02cc417b79c",
        "type": "link out",
        "z": "3c4dbd0503c1f8cb",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "fe8f2a749a8c1e45"
        ],
        "x": 995,
        "y": 540,
        "wires": []
    },
    {
        "id": "5cd1f4f3848c3fad",
        "type": "link out",
        "z": "3c4dbd0503c1f8cb",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "88f1ec52dfe5b532"
        ],
        "x": 565,
        "y": 660,
        "wires": []
    },
    {
        "id": "88f1ec52dfe5b532",
        "type": "link in",
        "z": "3c4dbd0503c1f8cb",
        "name": "link in 4",
        "links": [
            "5cd1f4f3848c3fad"
        ],
        "x": 675,
        "y": 660,
        "wires": [
            [
                "func5c"
            ]
        ]
    },
    {
        "id": "41d76185799365a4",
        "type": "function",
        "z": "3c4dbd0503c1f8cb",
        "name": "recebe ubidots",
        "func": "msg.payload=msg.payload.maximo.value\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 880,
        "wires": [
            [
                "ac74605206eb896e",
                "fb68d0ad596f9462",
                "77d0792639dfe76f"
            ]
        ]
    },
    {
        "id": "3d8ace619b80db27",
        "type": "ubidots_out",
        "z": "3c4dbd0503c1f8cb",
        "name": "",
        "token": "BBUS-j9cBk1boMBRCRpqWx0mbE6jMdSkdg0",
        "label_device": "",
        "device_label": "carteira",
        "tier": "business",
        "tls_checkbox": false,
        "x": 910,
        "y": 1000,
        "wires": []
    },
    {
        "id": "b2ac403bc784c96a",
        "type": "function",
        "z": "3c4dbd0503c1f8cb",
        "name": "trasnforma para ubidots",
        "func": "msg.payload = {\n    maximo:msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1000,
        "wires": [
            [
                "3d8ace619b80db27"
            ]
        ]
    },
    {
        "id": "3ee093d3c33bfc65",
        "type": "ui_gauge",
        "z": "3c4dbd0503c1f8cb",
        "name": "",
        "group": "dashboardGroup",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "armazenamento 1 centavo",
        "label": "units",
        "format": "{{msg.payload[\"0.01_porcentagem\"]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1480,
        "y": 260,
        "wires": []
    },
    {
        "id": "c3d8d8ecc2954925",
        "type": "ui_gauge",
        "z": "3c4dbd0503c1f8cb",
        "name": "",
        "group": "f4b0c18eecf834c4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "armazenamento 5 centavos",
        "label": "units",
        "format": "{{msg.payload[\"0.05_porcentagem\"]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1480,
        "y": 300,
        "wires": []
    },
    {
        "id": "6fbed74038a43a72",
        "type": "ui_gauge",
        "z": "3c4dbd0503c1f8cb",
        "name": "",
        "group": "5e20e6e7ebf6c723",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "armazenamento 10 centavos",
        "label": "units",
        "format": "{{msg.payload[\"0.10_porcentagem\"]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1480,
        "y": 340,
        "wires": []
    },
    {
        "id": "b060946c767d0d27",
        "type": "ui_gauge",
        "z": "3c4dbd0503c1f8cb",
        "name": "",
        "group": "02d5e82944b51331",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "armazenamento 25 centavos",
        "label": "units",
        "format": "{{msg.payload[\"0.25_porcentagem\"]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1480,
        "y": 380,
        "wires": []
    },
    {
        "id": "7869cc6c8c5e22ba",
        "type": "ui_gauge",
        "z": "3c4dbd0503c1f8cb",
        "name": "",
        "group": "5be07658d2781f19",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "armazenamento 1 real",
        "label": "units",
        "format": "{{msg.payload[\"1.00_porcentagem\"]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1460,
        "y": 460,
        "wires": []
    },
    {
        "id": "dff490da68a51efb",
        "type": "ui_gauge",
        "z": "3c4dbd0503c1f8cb",
        "name": "",
        "group": "8a0d4516a29db9ab",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "armazenamento 50 centavos",
        "label": "units",
        "format": "{{msg.payload[\"0.50_porcentagem\"]}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1480,
        "y": 420,
        "wires": []
    }
]